.admin-container{
margin: 8px 20px 0px 20px;
}

.main-place{
    height: 50px;
    margin: 5px 5px 8px 5px;
    border-radius: 5px;
    border: 1px solid #3d3d3d;
    background: #D7D9DB;
    text-align: center;
    padding: 12px 0px 0px 0px;
}

a.item-name{
    text-decoration: none;
}

.sidebar{
    background: #A9E2F3;
}