@(product: Sale)
@main("") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/open_product.css")">
    <script src="@routes.Assets.versioned("javascripts/open_product.js")" type="text/javascript"></script>

    <div class="container">
        <div class="row">
            @if(product.getAction != false){
                <div class="col-md-2">
                    <img src="assets\images\akcija.jpg">
                </div>
            }
            <div class="col-md-2">
                <h3>@product.getBrand.getBrand</h3>
            </div>
            <div class="col-md-3">
                @if(helpers.SessionHelper.isAdmin(ctx)){
                    <a href="@routes.AdminController.editProduct(product.getId())"><h3>@product.getPrice<strong> KM</strong></h3></a>
                }else{
                    <h3>@product.getPrice<strong> KM</strong></h3>
                }
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-outer'>
                            <!-- me art lab slider -->
                        <div class='carousel-inner'>

                            <div class='item active'>
                                @if(Sale.hasImage(product.getId)){
                                    <img src='@product.getFirstImage(product.getId).image_url' alt="Cinque Terre" id="" data-zoom-image="@product.getFirstImage(product.getId).image_url" width="400" height="400"/>
                                }else{
                                    <img src="http://placehold.it/400x400" width="400" height="400">
                                }
                            </div>
                            @if(Sale.hasImage(product.getId)){
                                @for(image <- product.getOtherImages(product.getId)) {
                                    <div class='item' id="item">
                                        <a href="" onclick="getImage()"><img src='@image.image_url' alt="Cinque Terre" id="" data-zoom-image="@image.image_url" width="400" height="400"/></a>
                                    </div>
                                }
                            }
                        </div>
                            <!-- sag sol -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>

                        <!-- thumb -->

                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
                    @for(image <- product.getImages(product.getId)) {
                        <li data-target='#carousel-custom' data-slide-to=''><img src='@image.image_url' alt="Cinque Terre"/></li>

                    }
                    </ol>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <div class="form-group">
                    <label class="col-md-4 control-label">Brand </label>
                    <label class="col-md-5 control-label">@product.getBrand.getBrand</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.TYPE</label>
                    <label class="col-md-5 control-label">@product.getType</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Godina proizvodnje </label>
                    <label class="col-md-5 control-label">@product.getYear</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.MILEAGE</label>
                    <label class="col-md-5 control-label">@product.getMeileage @resources.Placeholders.SPACE_2 km</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.COLOR</label>
                    <label class="col-md-5 control-label">@product.getColor</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.BODY_TYPE</label>
                    <label class="col-md-5 control-label">@product.getBodyType</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.MOTOR_VOLUME</label>
                    <label class="col-md-5 control-label">@product.getMotorVolume</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.MOTOR_POWER</label>
                    <label class="col-md-5 control-label">@product.getMotorPower <strong>Kw</strong></label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.TYPE_OF_FUEL</label>
                    <label class="col-md-5 control-label">@product.getTypeOfFuel</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">@resources.Placeholders.TRANSMISSION</label>
                    <label class="col-md-5 control-label">@product.getTransmission</label>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="tabs col-md-12">
                <li>
                    <input type=radio name=tabs id=tab1 checked>
                    <label for=tab1>@resources.Placeholders.DETAILS</label>
                    <div id=tab-content1 class=tab-content>
                        <p>
                        @product.getDetails
                        </p>
                    </div>
                </li>
                <li>
                    <input type=radio name=tabs id=tab2>
                    <label for=tab2>Pitanja</label>
                    <div id=tab-content2 class=tab-content>
                        <p>
                            Ovo jos ne radi??? . . .
                        </p>
                    </div>
                </li>
            </ul>
            <br style=clear:both;>
        </div>
    </div>
    <script>
         $("#zoom_05").elevateZoom({ zoomType    : "inner", cursor: "crosshair" });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
         $(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
        });
    </script>
}

