@(form: Form[users.help_user_models.UserForRegister])
@main("Welcome") {
    <div class="container">
        <div class="row col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form action="/registeruser" role="form" method="post">
                        @* *@
                        <script src="@routes.Assets.versioned("javascripts/my_js/register.js")" type="text/javascript"></script>

                        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/my_css/register.css")">

                        <div class="form-group">
                            <h3>Create your account</h3>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label" for="signupName">Your username</label>
                                <input id="username" onblur="inputValidate('username')" type="text" maxlength="18" value="@form("username").value" class="form-control" name="username" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="signupEmail">Email</label>
                                <input id="email" type="email" onblur="inputValidate('email')" maxlength="50" class="form-control" name="email" value="@form("email").value" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="signupPassword">Password</label>
                                <input id="password" type="password" onblur="validatePassword()" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40" name="password">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="signupPasswordagain">Password Again</label>
                                <input id="password_again" type="password" onblur="validatePasswordAgain()" maxlength="25" class="form-control" name="password_again">
                            </div>


                            <div class="form-group">
                                <label class="control-label" for="">Your Birth Date</label>
                                <input id="" type="date" maxlength="50" class="form-control" name="birth_date" value="@form("birth_date").value" required>
                            </div>
                        </div>

                        <div class="col-lg-6">

                            <div class="form-group">
                                <label class="control-label" for="">Your First Name</label>
                                <input id="" type="text" maxlength="50" class="form-control" name="first_name" value="@form("first_name").value" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="">Your Last Name</label>
                                <input id="" type="text" maxlength="50" class="form-control" name="last_name" value="@form("last_name").value" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="">Your Location</label>
                                <input id="" type="text" maxlength="50" class="form-control" name="location" value="@form("location").value" required>
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="">Your Phone Number</label>
                                <input id="" type="text" maxlength="50" class="form-control" name="phone_number" value="@form("phone_number").value">
                            </div>

                            <div class="form-group">
                                <label class="control-label" for="">Your Gender</label>
                                <div>
                                    <select class="form-control" id="select" name="gender">
                                        <option value="not_selecteed"></option>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <br>
                            <div class="form-group">
                                <button id="signupSubmit" type="submit" class="btn btn-success btn-block">
                                    Completed your account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

}