@import models.help_models.ReclamTitle
@(message: String, titles: List[ReclamTitle])

@main(message) {


    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

    <div class="background-area">
        <img src="assets/images/passat-b6.jpg" class="main-background">
        <div class="row">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="titles-row">
                    <div class="carousel-inner">
                        <div class="item active">
                            <h1 class="titles-text-color titles-font"><strong>@ReclamTitle.getFirstReclaimTitle</strong></h1>
                        </div>
                        @for(reclamTitle <- titles) {
                            <div class="item">
                            <h1 class="titles-text-color titles-font"><strong>@reclamTitle.getTitle</strong></h1>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}
