@import models.help_models.Brand
@(brands: List[Brand], form: Form[Brand])
@admin.admin("Add Brand") {
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form class="form-inline" action="@routes.BrandController.saveBrand()" method="post">
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <input type="text" name="brand" class="form-control" placeholder="Audi">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Add Brand</button>
                    </div>
                </form>
                <hr>

                @for(brand <- brands) {
                    <div class="row">
                        <div class="col-md-8">
                            <p>@brand.getBrand</p>
                        </div>
                        <div class="col-md-2">
                            <a href="@routes.BrandController.deleteBrand(brand.getId)"><i class="glyphicon glyphicon-trash"></i></a>
                        </div>
                        <div class="col-md-2">
                            <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>

}