@import models.help_models.Price
@import models.products.Sale
@(product: Sale, form: Form[Price])
@main("welcome") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/my_css/price/add_action.css")">
    <div class="container">
        <form class="form-horizontal" role="form" action="@routes.PriceController.updatePrice(product.getId)" method="post" enctype="multipart/form-data">
            <div class="col-lg-6">
                <div class="form-area">
                    <div class="form-group">
                        <label class="col-lg-2">Price</label>
                        <div class="col-lg-10">
                            <input type="number" name="old_price" class="form-control" value="@product.getPrice.getCurrentPrice">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">New Price</label>
                        <div class="col-lg-10">
                            <input type="number" name="price" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-2">
                            <div class="checkbox">
                                <label>
                                    <input name="action" type="checkbox"> Action
                                </label>
                            </div>
                        </div>
                        <div class="navbar-right">
                            <a href="@routes.PriceController.editPrice(product.getId)" class="btn btn-danger button-cancel">
                                Cancel</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="submit" id="submit" name="submit" class="btn btn-primary btn-lg btn-block">
                                Submit Action</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
}