@import models.help_models.Brand
@(brands: List[Brand], form: Form[Brand])
@admin.admin("Add Brand") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/my_css/add/brand.css")">

    <div class="container">
        <form class="form-inline" action="@routes.BrandController.saveBrand()" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <select class="form-control" name="@resources.FieldNames.PART_OF_BRAND">
                                    <option value="0"></option>
                                    <option value="@Brand.CAR_BRAND">Car Brand</option>
                                    <option value="@Brand.TIRES">Tires Brand</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="form-group">
                                <input type="text" name="brand" class="form-control" placeholder="Audi">
                            </div>
                            <hr>
                            <p>1 = Car Brand, 3 = Tires Brand</p>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h4>Add a photos</h4></div>
                            <div class="panel-body">
                                <p>Click <strong>Add a photo</strong>
                                    and select the photos you want to upload. </p>
                                <div class="form-group">
                                    <input type="file" name="@resources.FieldNames.IMAGES" class="form-control" id="uploadImage" data-classButton="btn btn-default" data-input="false" data-classIcon="icon-plus" data-buttonText="Add photo" accept="image/*" multiple/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <button type="submit" class="btn btn-warning btn-block">Add Brand</button>
                </div>
            </div>
        </form>
        <hr>
        @*
        <div class="row">
        @for(brand <- brands) {
        <div class="row">
        <div class="col-md-5">
        <p>@brand.getBrand</p>
        </div>
        <div class="col-md-3">
        <p>@brand.getPartOfBrand</p>
        </div>
        <div class="col-md-2">
        <a href="@routes.BrandController.deleteBrand(brand.getId)"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
        <div class="col-md-2">
        <a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
        </div>
        </div>
        }
        </div>
        *@
        <div class="container-fluid brand_list">
        @for(brand <- brands) {
            <div class="col-lg-3">
                <div class="show_brand">

                    <div class="show_brand_header">
                        <a href="@routes.VisitorSaleController.getSalesByBrand(brand.getId)"><h3><strong>@brand.getBrand</strong></h3></a>
                    </div>

                    <div class="show_brand_img">
                        <img src="@brand.image.image_url">
                    </div>

                    <div class="show_brand_footer">

                    </div>
                </div>
            </div>
        }

        </div>
    </div>

}