@(message: String)
@admin.admin(message){
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-users" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Users</span></a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-user" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-times-circle-o"></i> DEL Users</span></a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-edit"></i> EDIT Users</span></a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-pied-piper-alt" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-list-ul"></i> LIST Users</span></a>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-3">
            <a href="@routes.SaleController.addSale()" class="btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
                <i class="fa fa-car" id="icone_grande"></i> <br><br>
                <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD Sale</span></a>
        </div>
    </div>

}