<div class="main-place">
    <a href="/" class="item-name">Home</a>
</div>

<div class="main-place">
    <a href="@routes.LoginController.singUp()" class="item-name">Sing Up</a>
</div>

<div class="main-place">
    <a  href="@routes.AdminController.adminPage()"><h5><strong>Admin</strong></h5></a>
</div>

<div class="main-place">
    <a href="#" class="item-name">Messages</a>

</div>

<div class="main-place">
    <a href="/admin/allUsers" class="item-name">Users</a>
</div>

<div class="main-place">
    <a href="#" class="item-name">Products</a>

</div>

<div class="main-place">
    <a href="@routes.BrandController.addBrand()" class="item-name">Brands</a>
</div>



<div class="main-place">
<a href="/titles">Titles</a>
</div>

<div class="main-place">

</div>
