.main-background {
    margin: -50px 0px 0px 0px;

    background-size: cover;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: inherit;
    opacity: 0.8;
    z-index: -1;


}

.dark-background {

}

.background-area {
    height: 100%;

}

.titles-row {
    text-align: center;
    margin-top: 200px;


}

.titles-text-color {
    color: white;
    font-size: 55px;
}

.titles-font {
    font-style: oblique;

}

.body-my-panel{
    margin: 0px 17px 0px 0px;
}