@import models.users.User
@import helpers.SessionHelper
@(user: User)
@admin.admin(user.getFirstName) {

    <div class="col-md-offset-1">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@user.getFirstName @user.getLastName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            @if(user.getGender == 1) {
                                <img src="@routes.Assets.versioned("images/boy_face.jpg")" class="img-responsive" title="" alt="">
                            }
                            @if(user.getGender == 2) {
                                <img alt="" src="@routes.Assets.versioned("images/girl_face.jpg")" class="img-responsive">

                            }
                            @if(user.getGender == 3) {
                                <img alt="" src="@routes.Assets.versioned("images/info_icon.jpg")" class="img-responsive">
                                }
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username</td>
                                        <td>@user.getUsername</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="#">@user.getEmail</a></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>@user.getBirthDate</td>
                                    </tr>
                                    <tr>
                                        <td>Reg Date</td>
                                        <td>@user.getCreationDate</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>@user.getLocation</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>@user.getPhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td>Update Date</td>
                                        <td>@user.getUpdateDate</td>
                                    </tr>
                                    <tr>
                                        <td>Login</td>
                                        <td>@user.getLoginCount</td>
                                    </tr>
                                    <tr>
                                        <td>Verification</td>
                                        <td>
                                            @if(user.getVerification == 0) {
                                                <a type="" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-remove"></i></a>
                                            }
                                            @if(user.getVerification > 0) {
                                                <a type="" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                            }
                                            @if(user.getVerification < 0) {
                                                <a type="" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Premium User</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>User Level</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                        <a href="@routes.AdminController.editUser(user.getId)" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i>
                            Edit</a>
                        @if(user.getActive < 1) {
                            <a href="@routes.AdminController.activateUser(user.getId)" data-original-title="Activate this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i>
                                Act</a>
                        }
                        @if(!SessionHelper.admin(user)) {
                            @if(user.getActive > 0) {
                                <a href="@routes.AdminController.blockUser(user.getId)" data-original-title="Block this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-stop"></i>
                                    Block</a>
                            }
                            @if(user.getActive > -1) {
                                <a href="@routes.AdminController.blockBlockUser(user.getId)" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>
                                    Del</a>
                            }
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
}