@import models.users.User
@import helpers.UserHelper
@import helpers.SessionHelper
@(user: User)
@admin.admin(user.getFirstName) {
    <div class="col-md-offset-1">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@user.getFirstName @user.getLastName</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center">
                            @if(user.getGender == 1) {
                                <img src="@routes.Assets.versioned("images/boy_face.jpg")" class="img-responsive" title="" alt="">
                            }
                            @if(user.getGender == 2) {
                                <img alt="" src="@routes.Assets.versioned("images/girl_face.jpg")" class="img-responsive">

                            }
                            @if(user.getGender == 3) {
                                <img alt="" src="@routes.Assets.versioned("images/info_icon.jpg")" class="img-responsive">
                                }
                        </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>Username</td>
                                        <td>@user.getUsername</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="#">@user.getEmail</a></td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>@user.getBirthDate</td>
                                    </tr>
                                    <tr>
                                        <td>Reg Date</td>
                                        <td>@user.getCreationDate</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>@user.getLocation</td>
                                    </tr>
                                    <tr>
                                        <td>Phone Number</td>
                                        <td>@user.getPhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <td>Update Date</td>
                                        <td>@user.getUpdateDate</td>
                                    </tr>
                                    <tr>
                                        <td>Login</td>
                                        <td>@user.getLoginCount</td>
                                    </tr>
                                    <tr>
                                        <td>Premium User</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>User Type</td>
                                        <td>
                                            @if(user.getUserType == User.BLOCKED) {
                                                <p>
                                                    <a type="" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                                    @user.getUsername Is Blocked
                                                </p>
                                            }
                                            @if(user.getUserType == User.INACTIVE) {
                                                <p><a type="" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-ok"></i></a>
                                                    @user.getUsername Is Inactive
                                                </p>
                                            }
                                            @if(user.getUserType == User.ACTIVE) {
                                                <p><a type="" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                                    @user.getUsername Is Active
                                                </p>
                                            }
                                            @if(user.getUserType >= User.ADMIN) {
                                                <p><a type="" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                                    <a type="" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                                    @if(user.getUserType == User.MADMIN){
                                                        <a type="" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                                                    }
                                                    @user.getUsername Is Admin
                                                </p>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                    <span class="pull-right">
                    @if(!UserHelper.mAdmin(user.getId)) {
                        <a href="@routes.AdminController.editUser(user.getId)" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-info"><i class="glyphicon glyphicon-edit"></i>
                            Edit</a>
                        @if(!User.isActive(user.getId)) {
                            <a href="@routes.AdminController.activateUser(user.getId)" data-original-title="Activate this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i>
                                Act</a>
                        }else{
                            <a href="@routes.AdminController.unverifiedUser(user.getId)" data-original-title="Block this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-stop"></i>
                                UnVerify</a>
                        }
                        @if(!User.isBlocked(user.getId)) {
                            <a href="@routes.AdminController.blockUser(user.getId)" data-original-title="Block this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-stop"></i>
                                Block</a>
                        } else {
                            <a href="@routes.AdminController.deblockUser(user.getId)" data-original-title="Deblock this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i>
                                DeBlock</a>
                        }
                        @if(UserHelper.mAdmin(SessionHelper.getCurrentUser(ctx()).getId)){
                            <a href="@routes.AdminController.deleteUser(user.getId)" data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i>
                                Del</a>
                        }
                    }
                    </span>
                </div>
            </div>
        </div>
    </div>
}