.head_for_tires{
    background-color: #dddddd;
    padding: 4px;
}

.action_logo{
    background-color: #5e5e5e;
    height: 135px;
    padding-top: 10px;
    padding-left: 20px;
}

.brand_image {
background-color: transparent;
    height: 135px;
    padding-left: 30px;
}

.brand_and_dim {
    background-color: #adadad;
    height: 135px;
    padding: 20px 0px 0px 30px;
}

.year_and_type {
    padding: 35px 0px 0px 50px;
}

.current_price {
    background-color: #adadad;
    padding: 20px 0px 0px 58px;
    height: 135px;
}
