@(images: List[Image])
@admin_view.admin_main("New Background") {
    <div class="container">
        <div class="row">

            <div class="col-md-4">

                @if(images != null){
                    @for(img <- images) {
                        <div class="row">
                            <div class="col-md-6">
                                <img src="@img.image_url" class="img-rounded" alt="Cinque Terre" width="160" height="130">
                            </div>
                            @if(img.getBackgroundActive() == 1) {
                                <div class="col-md-2"><a href="#"><i class="glyphicon glyphicon-trash"></i></a></div>
                                <div class="col-md-2"><a href="#"><i class="glyphicon glyphicon-plus"></i></a></div>
                                <div class="col-md-1"><a href="#"><i class="glyphicon glyphicon-edit"></i></a></div>
                            }
                            @if(img.getBackgroundActive == 2) {

                            }
                        </div>
                        <br>
                    }
                }

            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>

        </div>
    </div>
}