@(form: Form[Sale], brands: List[Brand], years: List[Integer], sale: Sale)
@admin_view.admin_main("Edit " + sale.getType) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/edit_sale.css")">
    <div class="container">
        <form role="form" action="@routes.SaleController.updateSale(sale.getId())" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-area">
                        <div class="form-group">
                            <select class="form-control" name="@resources.FieldNames.BRAND">
                                <option value="@sale.getId">@sale.getBrand.getBrand</option>
                            @for(brand <- brands) {
                                <option value="@brand.getId">@brand.getBrand</option>
                            }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="type" name="@resources.FieldNames.TYPE" value="@sale.getType" required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="@resources.FieldNames.YEAR">
                                <option value="@sale.getYear()">@sale.getYear()</option>
                                @for(year <- years) {
                                    <option value="@year.intValue()">@year.intValue()</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="price" name="@resources.FieldNames.PRICE" value="@sale.getPrice" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" type="textarea" id="details" name="@resources.FieldNames.DETAILS" maxlength="1500" rows="7">@sale.getDetails</textarea>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-area">
                        <div class="form-group">
                            <input type="text" class="form-control" id="" name="@resources.FieldNames.BODY_TYPE" value="@sale.getBodyType" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" name="@resources.FieldNames.COLOR" value="@sale.getColor" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="" name="@resources.FieldNames.MILEAGE" value="@sale.getMeileage" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" name="@resources.FieldNames.MOTOR_VOLUME" value="@sale.getMotorVolume" required>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="" name="@resources.FieldNames.MOTOR_POWER" value="@sale.getMotorPower" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" name="@resources.FieldNames.TYPE_OF_FUEL" value="@sale.getTypeOfFuel" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="" name="@resources.FieldNames.TRANSMISSION" value="@sale.getTransmission" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <a href="@routes.SaleController.openProduct(sale.getId)" class="btn btn-danger">Cancel</a>
                    <a href="@routes.SaleController.addAction(sale.getId())" class="btn btn-warning">Add Action</a>
                    <a href="@routes.SaleController.addImages(sale.getId)" class="btn btn-warning">Add Images</a>
                    <button type="submit" id="submit" name="submit" class="btn btn-success navbar-right button-update">Update</button>
                </div>
            </div>
        </form>
    </div>
}