@import helpers.SessionHelper
@import users.User
@import helpers.UserHelper
@()(implicit currentUser: User = SessionHelper.getCurrentUser(ctx()))
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/my_css/navbar.css")">

<nav class="navbar navbar-webmaster">
    <div class="my-navbar">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Auto House</a>
            @if(currentUser != null) {
                @if(currentUser.getUserType > User.INACTIVE) {
                    <a class="navbar-brand" href="@routes.UserController.userPage()">@currentUser.getUsername</a>
                }
                @if(UserHelper.admin(currentUser.getId) || UserHelper.mAdmin(currentUser.getId)) {
                    <a class="navbar-brand" href="@routes.AdminController.adminPage()">admin</a>
                }
            }
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="@routes.VisitorSaleController.listBrands()">Brands<span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">Rent A Car<span class="sr-only">(current)</span></a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        SALE <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/all/cars/for/sale">Cars</a></li>
                        <li><a href="/all/tires/for/sale">Tires</a></li>
                    </ul>
                </li>

                @if(currentUser != null) {
                    <li><a href="/singUp">Sing up</a></li>
                } else {
                    <li><a href="/login">Log in</a></li>
                }
            </ul>
        </div>
    </div>
</nav>

