@import models.products.Sale
@(tires: List[Sale])
@main("Car Tires") {

    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/my_css/sale/all_tires_for_sale.css")">
    <div id="all-products" class="container">
        <div class="container-fluid">
        @for(item <- tires) {
            <a href="@routes.VisitorSaleController.getTiresForSale(item.getId)">
                <div class="col-lg-4">
                    <div class="tire">

                        <div class="tire-head">
                            <div class="row">
                                <div class="navbar-left tire-brand">
                                    <strong><h4>@item.getTires.getBrand.getBrand</h4></strong>
                                </div>
                                <div class="navbar-right tire-dimension">
                                    <strong><h4>@item.getTires.getDimension</h4></strong>
                                </div>
                            </div>
                        </div>

                        <div class="tire-body">

                            @if(Sale.tiresHasImage(item.getTires.getId)) {
                                <div class="tire-image">
                                    @if(item.getPrice.getAction != 0) {
                                        <div class="img-tire-action">
                                            <img id="img-sale" onmouseover="" onmouseout="" src="@item.getFirstTiresImage(item.getTires.getId).image_url" class="img-thumbnail img" alt="Cinque Terre" width="310" height="210">
                                        </div>
                                        <div>
                                            <img class="tire_action" src="@routes.Assets.versioned("images/badge_akcija.png")">
                                        </div>
                                    } else {
                                        <img id="img-sale" onmouseover="" onmouseout="" src="@item.getFirstTiresImage(item.getTires.getId).image_url" class="img-thumbnail img" alt="Cinque Terre" width="310" height="210">
                                    }
                                } else {
                                <img src="http://placehold.it/310x210">
                                }
                        </div>
                        </div>

                        @if(item.getPrice.getAction != 0) {
                            <div class="tire-footer-action">
                                <div class="tire-price">
                                    <h4>@item.getPrice.getCurrentPrice KM</h4>
                                </div>
                            </div>
                        }else{
                            <div class="tire-footer">
                                <div class="tire-price">
                                    <h4>@item.getPrice.getCurrentPrice KM</h4>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </a>
        }
        </div>
    </div>

}