.car{
    background: #888888;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 32%;
    height: 275px;
}
.car-head{
    background: #a8c0da;
    height: 42px;
}
.car-image{
    padding: 5px 0px 0px 5px;
}
.action{
    margin-left: -29.5px;
    margin-top: -215px;
}
.action-price{
    padding-left: 1%;
}
.action-h-price{
    font-style: italic;
    color: orangered;
}
.action-old-price{
    padding: 5px 5px 5px 5px;
    background: #B0BED9;
    margin-right: 25px;
    color: magenta;
    text-decoration: line-through;
}
.action-car-footer{
    margin-top: 160px;
    margin-left: 30px;
    padding-bottom: 0px;
}
.price{
    padding-left: 5%;
}
.h-price{
    font-style: italic;
    color: crimson;
}
.car-footer{
    margin-top: -55px;
    padding-bottom: 0px;
}
.img{
    height: 210px;
    width: 98%;
}
/*
.car:before{
    zoom: 125%;
}.img:before{
    zoom: 125%;
}
*/
.brand{
  margin-left: 7px;
}
.type{
    margin-right: 7px;
}