.background-color-palevioletred{
    background: palevioletred;
}

.background-color-red{
    background: red;
}

.border-left{
    border-left: 1px solid black;
}
.margin-left{
    padding-left: 12px;
}
.padding-left-15px{
    padding-left: 15px;
}
.border-down{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.background-color-A4E9F2{
    background: #A4E9F2;
}

.padding-top-30px{
    padding-top: 30px;
}
.text-align-center{
    text-align: center;
}
.background-color-DCBFBF{
    background: #DCBFBF;
}
.full-border1px{
    border: 1px solid #2b2b2b;
}